[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ComBatFamQC"]
	path = ComBatFamQC
	url = https://github.com/zheng206/combatfamqc
